<div class="loadmore-demo">
    <div class="conatiner">
        <h1>KP Jquery Load More</h1>
        <ul class="list" id="list">
        </ul>
    </div>
</div>
<script>
    $(".list").kp_load_more({
        elements: 'li',
        load_data: 8,
        per_page: 8,
        json_url: 'https://grinteq-test.myshopify.com/products.json',
        shopify: true
    });
</script>