$color-primary: #ED3B30;
$color-second: #FFF4F3;
$color-third: #B6D3E7;
$color-border: #E4E4E4;
$color-font: #040404;

$font-primary: 'Inter', sans-serif;

$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1600px;
